<script src={{ "js/castanet-min.js" | absURL }}></script>
<script>
    $("#share").jsSocials({
        shares: [
      {
        share: "facebook",
        logo: "fab fa-facebook",
      },
      {
        share: "twitter",           // name of share
        label: "Tweet",             // share button text (optional)
        logo: "fab fa-twitter",
        {{ if (isset .Site.Params.social "twitter" )}}
          via: "{{ .Site.Params.social.twitter }}",       // custom twitter sharing param 'via' (optional)
        {{ end }}
        url: "{{ .Permalink }}",
        text: "{{ title .Title }}"
      },
      {
        share: "linkedin",
        logo: "fab fa-linkedin"
      },
      {
        share: "pinterest",
        logo: "fab fa-pinterest"
      }
    ],
    });
</script>

<script>
  $(document).ready(function() {

    $('.transcript').hide();
    $(".hide_transcript").hide();
    $(".hide_transcript").click(function () {
    $(".transcript").hide("fast");
    $(".show_transcript").show();
    $(".hide_transcript").hide();
   });

    $(".show_transcript").click(function () {
    $(".transcript").show(500);
    $(".hide_transcript").show();
    $(".show_transcript").hide();
   });

  });

</script>

<script>
  var player = new MediaElementPlayer('player2', {
      features: ['playpause', 'current', 'progress', 'duration', 'volume','speed'],
      defaultSpeed: 1.0,
      // other configuration elements
  });
</script>

{{ template "_internal/google_analytics_async.html" . }}

<!-- Bootstrap  -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>